@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.rs-btn-toggle{
  background-color: #80c1ab;
}
.rs-btn-toggle:hover{
  background-color: #54B393;
}
.rs-btn-toggle-checked{
  background-color: #00C2AE;
}
.rs-btn-toggle-checked:hover{
  background-color: #00ab9b;
}
.PushDown{
  margin-top: 10px;
}
.GreenLetter {
  font-family: 'Quicksand';
  color: #06554C;
}
.ListColor .rs-list-item{
  background-color: #F2F3F4;
  box-shadow:none;
}
.ListColor .rs-list-item:hover{
  background-color:#D2D3D4;

}
.TableColor{
  background-color: #F2F3F4;
}
.rs-steps-item-icon-wrapper{
  background-color: #AFDFFF;
  color: #434343;
  border-color: #AFDFFF;
}
.rs-steps-item-title{
  font-family: 'Quicksand';
  color: #515253;
}
.rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon){
  border: none;
  background-color: #00AB9B;
  color: #D2D3D4;
}
.rs-steps-item-status-process .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon){
  background-color: #00AB9B;
  border-color: #00AB9B;
  color: #F5F0F6;
}
/*.rs-steps-item-status-finish{
  background-color: #00AB9B;
}*/
.Pad {
  padding: 7px;
}
.ListInput {
  width: 24%;
  margin-right: 10px;
}
.leftie{
  /* position: absolute;
   bottom: 0px; 
  align-self: flex-end; */
}
.rowSelected div{
  background-color:#00C781;
}

.rowSelected a{
  color:#575757;
  cursor:default;
}

.actionLink{
  cursor: pointer;;
}
.actionButtons{
  justify-content: space-between;
}
.rs-input-group{
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11), 
  0 6px 8px rgba(0,0,0,0.11),
  0 8px 16px rgba(0,0,0,0.11);
}