@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url(./back.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 15px;
}
.inputLog{
  font-family: 'Montserrat', sans-serif ;
  padding-top: 9px!important; padding-bottom: 7px!important;
  border: none!important;
  border-radius: 17px!important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}
.rs-btn-primary{
  font-family: 'Montserrat', sans-serif ;
  padding-top: 7px!important; padding-bottom: 9px!important;
  background-color: #00ab9b!important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}
p{
  font-family: 'Manjari', sans-serif ;
  font-weight: 500;
}
h3{
  font-family: 'Montserrat', sans-serif ;
}
