.avatar {
  width: 170px;
  margin-left: 10px;
}
.avatar-image {
  width: 170px;
  border-radius: 100%;
  box-shadow: 5px 4px 10px -5px rgba(49, 50, 51, 0.77);
}
.Note {
  background-color: black;
}

.p-datatable {
  font-family: 'Manjari', sans-serif !important;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: 400 !important;
  border: none !important;
  background-color: #fff !important;
}
.p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
}

.p-column-title {
  color: #8e8e93 !important;
}


.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):not(.p-highlight-contextmenu):hover {
  background: rgba(​0, 171, 155,0.4) !important;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):not(.p-highlight-contextmenu):hover {
  background: #84C4BF !important;
}
tr.p-highlight-contextmenu{
  background-color: #84C4BF!important;
}
.statuscss{
  background-color: #13F3D8;
  color: #000000;
}
.statuscss1{
  background-color: #84C4BF;
  color: #ffffff;
}
.statuscss2{
  background-color: #F3133C;
  color: #FFFFFF;
}
.statuscss3{
  background-color: #EFF313;
  color: #000000;
}
.taskprogress .rs-progress-line-bg {
  background-color: #00A898;

}