.clear{
    background:none;
    margin-left: 5px;
    border: 0.5px solid #a9a9a9!important;
    box-shadow: 5px 4px 10px -5px rgba(49,50,51,0.77);
}
.first{
    margin-left:20px;
}
.first2 {
    margin-left:20px;
    background: #263D4F !important;
    box-shadow: 5px 4px 10px -5px rgba(49,50,51,0.77);
    border-radius: 7px;
}
.gruopButt{
    position: absolute;
    right:100pt;
    top:48pt;
    
}
.priorityDisp{
    box-shadow: none!important;
    margin-left: .7em;
    font-weight: 500!important;
    width: 6em;
    opacity: 1!important;
}
.priori2{
    background: #ed5151!important;
}
.priori1{
    background: #F4C004!important;
    color: #454545;
}
.statusDisp{
    box-shadow: none!important;
    font-weight: 500!important;
    width: 100%;
    opacity: 1!important;
}
.status2{
    background: #59cd90!important;
    color: #454545;
}
.status1{
    background: #F4C004!important;
    color: #454545;
}
.status0{
    background: #ed5151!important;
}
.ghost{
    width: 100%;
    border: none!important;
    font-weight: 600;
}
.ghost.edit{
    color: #454545!important ;
}
.withFiles{
    color: #00AB9B!important ;
}
.noFiles{
    color: #ed5151!important ;
}
.tableAdvPer{
    color: #00AB9B!important ;
}

.dateLeft{
    background-color: #263D4F;
    border-radius: 10px;
    font-family: 'Segoe UI';
    text-align: justify;
    position: relative;

}
.dateRight{
    background-color: #263D4F;
    border-radius: 10px;
    font-family: 'Segoe UI';
    text-align: justify;
    position: relative;

}
.datebox {
    width: 230px;
    padding-top: 10px;

}
.guardar{
    background-color:#00AB9B;
    color:white;
    left:40px;
    width: 95px;
    height: 35px;
    border-radius: 12px;
    font-family: Calibri;
    font-size: 16px;
    margin: 10px;
    padding: 12px;
    padding-top: 5px;
    
}
.eliminar{
    background-color: #F3133C;
    color:white;
    left:40px;
    width: 95px;
    height: 35px;
    border-radius: 12px;
    font-family: Calibri;
    font-size: 16px;
    padding: 12px;
    padding-top: 5px;
}
.agregar{
    padding: 0px 0;
    color:red;

}
.agregar p {
    color: red;

    font-family: 'Segoe UI';
}
.p-dialog-mask.p-component-overlay.p-dialog-visible {
    z-index: 56!important;
}
.rs-picker-menu {
    z-index: 65!important;
}

.right-arrow-button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
}

.downOne {
    background-color: transparent;
    width: 25px;
    height: 25px;
    padding: 0;
    
}
.box {
    background-color: transparent;
    align-items: center;
    /*outline: thin gray dashed;*/

}
.box h2 {
    padding-bottom: 5px;
    padding-left: 13px;
}
.box button {
    padding-left: 12px;
}
.inputPickerBox {
    background-color: transparent;
    align-items: center;
}
.inputPickerBox .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: blue;
    text-align: center;
    font-size: 16px;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: white;
    text-align: center;
    font-size: 16px;
}
.boxText {
    background-color: transparent;
    width: auto;
    height: 25px;
    margin-right: 10px;
    font-size: 20px;
}
.boxTextagregar {
    background-color: transparent;
    width: auto;
    height: 25px;
    margin-right: 10px;
    font-size: 20px;
    color: #AE0707;
}
.boxTextagregar p {
    font-weight: bold;
}
.docButton{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('./file-regular.svg');
    background-color: #AE0707;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.rs-picker-date .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle-clean {
    right: 38px;
    padding-top: 6px;
}
.dateLeft .rs-picker-toggle-caret {
    color: white;
    padding-top: 2px;
}
.dateRight .rs-picker-toggle-caret {
    color: white;
    padding-top: 2px;
}

.rs-picker-toggle {
    background-color: transparent !important;
}

.topDate {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 4px;
    background-color: #263D4F;
    font-family: 'Segoe UI';
    text-align: justify;
    position: relative;
    margin-left:20px;
    background: #263D4F;
    box-shadow: 5px 4px 10px -5px rgba(49,50,51,0.77);
    border-radius: 7px;
}
.topDate .rs-picker-toggle-caret {
    color: white;
    padding-top: 1px;
}
.dateLeft .rs-btn .rs-picker-toggle-value, .dateRight .rs-btn .rs-picker-toggle-value, .topDate .rs-btn .rs-picker-toggle-value {
    color: white !important;
    text-align: center;
    font-size: 16px;
}

.rs-picker-date .rs-picker-toggle.rs-btn-sm .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle.rs-btn-sm .rs-picker-toggle-clean {
    right: 28px;
    padding-top: 3px;
}
.p-dialog .p-dialog-header {
    background: rgb(196,196,196) !important;
    background: linear-gradient(90deg, rgba(196,196,196,1) 2%, rgba(255,255,255,1) 2%) !important;
    padding-left: 26px !important;
}

.p-dialog .p-dialog-content {
    background: rgb(196,196,196) !important;
    background: linear-gradient(90deg, rgba(196,196,196,1) 2%, rgba(255,255,255,1) 2%) !important;
}
.grid {
    /*outline: thin gray dashed;*/
}
.rs-picker-toggle .rs-picker-toggle-placeholder {

    color: rgb(165, 165, 165);
    font-family: calibri;
    font-size: 16px;
}
.selectpicker {
    justify-content: left;
    background-image: url('caret-down-solid.svg');
    background-position: right;
    background-size: 16px;
    background-repeat: no-repeat;
}
.selectpicker .rs-picker-toggle-caret {
    color: transparent;
}
.dropdown {
    justify-content: left;
    background-image: url('caret-down-solid.svg');
    background-position: right;
    background-size: 16px;
    background-repeat: no-repeat;
}
.dropdown .rs-dropdown-toggle-caret {
    margin-left: 4px;
    color: transparent;
}
.dropdown .rs-btn-subtle {
    color: rgb(177, 176, 176) !important;
    font-family: calibri;
    font-size: 16px;
}

.rs-picker-default .rs-btn, .rs-picker-input .rs-btn, .rs-picker-default .rs-picker-toggle, .rs-picker-input .rs-picker-toggle {
    background: transparent !important;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-btn.active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active {
    border-color: transparent;
}
.rs-picker-default .rs-picker-toggle, .rs-picker-default .rs-picker-toggle-custom {
    position: relative;
    z-index: 5;
    padding-right: 32px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #575757;
    border: 1px solid transparent;
}
.rs-picker-input:not(.rs-picker-disabled) .rs-picker-toggle {
    padding-bottom: 0px;
    padding-top: 6px;
    left: 0px;
}
.inputPicker {
    background-image: url('caret-down-solid.svg');
    background-position: right;
    background-size: 16px;
    background-repeat: no-repeat;

}
.inputPicker .rs-picker-toggle-caret {
    color: transparent;
}
.inputPicker, .rs-picker-input {
    border: transparent !important;
}
.inputPickerCliente {
    /*outline: thin solid rgb(189, 189, 189);*/
    width: 400px !important;
    height: 50px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%), 0 4px 4px rgb(0 0 0 / 11%), 0 6px 8px rgb(0 0 0 / 11%), 0 8px 16px rgb(0 0 0 / 11%);

}
.inputPickerCliente .rs-picker-toggle-caret {
    /*color: transparent;*/
    padding-top: 5px !important;
}
.inputPickerCliente .rs-picker-toggle-clean {
    /*color: transparent;*/
    padding-top: 5px !important;
}
.inputPickerCliente .rs-picker-toggle .rs-picker-toggle-placeholder {
    color: #8e8e93;
    font-family: calibri;
    font-size: 22px;

}
.inputPickerCliente .rs-btn .rs-picker-toggle-value {
    color: #8e8e93 !important;
    text-align: left;
    font-size: 24px !important;
    font-weight: bold;
    width: max-content !important;
}
